@import '../../../index.scss';

button {
    width: auto;
    min-width: 1.5vw;
    text-align: center;
    padding: 1vw 2vw;
    margin: 1vh 0;
    font-size: $small-text-size;
    margin-left: auto;
    font-weight: 500;
    box-shadow: $box-shadow;
    border: 1px black;
    transition: all .2s ease; /*pretty fast looks more eficient*/
    outline: 0;
    background-color: $main-color;
    color: white;
    &:hover {
        cursor: pointer;
        &:active {
            transform: scale(.85);
        }
    }
}